hello_world.dSYM
hello_world
.vscode
basics1
prog1_hollow_rectangle
prog2_half_pyramid
prog3_inverted_half_pyramid
prog4_numeric_half_pyramid
prog5_inverted_numeric_half_pyramid
prog6_hollow_inverted_half_pyramid
prog7_full_pyramid
prog8_hollow_full_pyramid